plexil5/schemas/plexilscriptsschema_randomSupport.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PLEXILScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Step">
          <xs:complexType>
          
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="State">
                <xs:complexType>

                	<xs:choice>
                		<xs:element name="Value" type="xs:string">
                		</xs:element>
                		<xs:element name="RandomValue" type="randomValue">

                		</xs:element>
                	</xs:choice>
                	<xs:attribute name="name" type="xs:string"
                		use="required" />
                	<xs:attribute name="type" type="xs:string"
                		use="required" />
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="CommandAck">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Result" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            
            </xs:sequence>            
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="randomValue">

  	<xs:sequence minOccurs="0" maxOccurs="unbounded">
  		<xs:element name="enumeration" type="enumerationEntry"></xs:element>
  	</xs:sequence>
  	<xs:attribute name="min" type="xs:float" use="optional"></xs:attribute>
  	<xs:attribute name="max" type="xs:float" use="optional"></xs:attribute>
  </xs:complexType>


  <xs:complexType name="enumerationEntry">
  	<xs:attribute name="value" type="xs:float"></xs:attribute>
  </xs:complexType>
</xs:schema>